n8n/workflows/darkweb-rss-forums-tracker.json
{
    "name": "darkweb-rss-forums-tracker",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutes": 30
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                0
            ],
            "id": "schedule-trigger",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "functionCode": "return [\n  {\n    json: {\n      rss_url: \"https://xforums.st/forums/-/index.rss\",\n      forum_name: \"XForums\"\n    }\n  },\n  //在此处添加更多站点\n  // {\n  //   json: {\n  //     rss_url: \"https://another-forum.onion/rss\",\n  //     forum_name: \"AnotherForum\"\n  //   }\n  // }\n];"
            },
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                220,
                0
            ],
            "id": "define-feeds",
            "name": "定义RSS列表 (Define Feeds)"
        },
        {
            "parameters": {
                "url": "={{ $json.rss_url }}"
            },
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1.4,
            "position": [
                440,
                0
            ],
            "id": "rss-read",
            "name": "读取RSS (Read RSS)"
        },
        {
            "parameters": {
                "functionCode": "return items.map(item => {\n  return {\n    json: {\n      url: item.json.link,\n      title: item.json.title,\n      pubDate: item.json.pubDate,\n      source_rss: $('读取RSS (Read RSS)').item.json.rss_url\n    }\n  };\n});"
            },
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                660,
                0
            ],
            "id": "format-rss-items",
            "name": "格式化 (Format)"
        },
        {
            "parameters": {
                "workflowId": "sT0FP436BFPS5V7o",
                "mode": "each"
            },
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                880,
                0
            ],
            "id": "execute-subworkflow",
            "name": "AI Agent分析"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "定义RSS列表 (Define Feeds)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "定义RSS列表 (Define Feeds)": {
            "main": [
                [
                    {
                        "node": "读取RSS (Read RSS)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "读取RSS (Read RSS)": {
            "main": [
                [
                    {
                        "node": "格式化 (Format)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "格式化 (Format)": {
            "main": [
                [
                    {
                        "node": "AI Agent分析",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "staticData": null,
    "meta": null
}